<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-1-g15f4949  Build Version: 1.6.7594.29634
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="myool_urdf">
  <link
    name="myool_chassis">
    <inertial>
      <origin
        xyz="-0.0025949 1.6653E-16 0.003175"
        rpy="0 0 0" />
      <mass
        value="2.8701" />
      <inertia
        ixx="0.019918"
        ixy="5.8875E-18"
        ixz="-8.948E-19"
        iyy="0.042638"
        iyz="2.3451E-19"
        izz="0.061874" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://myool_urdf/meshes/myool_chassis.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
		<cylinder radius="1" length="0.5"/>
      </geometry>
    </collision>
  </link>
</robot>